<!doctype html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>{{ title }}</title>
      <link rel="stylesheet" href="/stylesheets/style.css">

      <!-- BOOTSTRAP STUFF -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  </head>
  <body>
    <h1>LINUX Mini Project</h1>
    <h2>Jason Keane, Shane Higgins, Tomasz Klebek, Zdenek Krousky</h2>
    <!-- NAVBAR (Put in partials)-->
    <ul>
      <li><a class="active" href="/">Scripts</a></li>
      <li><a href="/manpages">Man Pages</a></li>
    </ul>

    <section class="get">
        <h3>Scripts</h3>
        <div>
            {{# each items }}
                <article class="item">
                    <div>
                      <b>Name:</b> {{ this.Name }}
                      <div>The script: {{ this.Script }}</div>
                      <form action="/exec/{{ this.ID }}" method="post">
                        {{{ this.OptionsHTML }}}
                        <br /><br />
                        <button type="submit">Run this script</button>
                        <button type="" onclick="return confirm('Are you sure?');" formaction="/delete/{{ this.ID }}">Delete</button>
                        <button type="" formaction="/man/{{ this.ID }}">Man Page</button>
                      </form>
                    </div>
                </article>
            {{/each}}
        </div>
    </section>
    <section class="get">
      <h3>Script Output</h3>
      <div class="outputDiv">
        {{{ scriptOutput }}}
      </div>
    </section>
</body>
</html>
